/* html {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
} */

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(156, 156, 156) 1px 1px;
  padding: 10px;
}

header>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header>.login {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

header button {
  width: 200px;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0;
}


p {
  overflow-wrap: anywhere;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

textarea {
  width: 300px;
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
  overflow-y: auto;
}

button {
  background-color: #FF4500;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  padding: 15px;
}

button:hover {
  background-color: #ff4400cb;
}

a {
  color: #FF6347;
  text-decoration: none;
}

a:visited {
  color: #FF6347;
}

a:hover {
  color: red;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.posts ul {
  display: grid;
  /* flex-direction: column-reverse; */
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.posts ul li:not(.comments li) {
  max-width: 80vw;
  height: 40vh;
  margin: 20px;
  box-shadow: 0px 0px 5px 0px #ff440163;
}

.posts ul li>div {
  border: 1px solid #FF6F61;
  background-color: #ffe4d9;
  padding: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.comments ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}